<div class="card">
  <div class="text-surface-900 dark:text-surface-0 block">
    <h2 class="text-2xl font-bold mb-8">
      Create Operation – {{ iropActionType }}
    </h2>
    <form [formGroup]="form" (ngSubmit)="onAdd()" class="flex flex-col gap-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <p-select
          [options]="seasonTypeOptions"
          formControlName="season"
          optionLabel="label"
          optionValue="code"
          placeholder="Select IATA Season"
          class="w-full"
        ></p-select>

        <p-select
          [options]="sourceTypeOptions"
          formControlName="sourceType"
          placeholder="Source Type"
          class="w-full"
        ></p-select>
      </div>
      <div>
        <p-editor
          formControlName="customNotifyMessage"
          styleClass="w-full"
          [style]="{ height: '120px' }"
        ></p-editor>
      </div>
      <div>
        <p-select
          [options]="reasons"
          formControlName="reason"
          class="w-full"
          placeholder="Select Reason"
          appendTo="body"
        ></p-select>
      </div>
      <div>
        <textarea
          rows="3"
          pInputText
          formControlName="remark"
          placeholder="Enter Remark"
          class="w-full"
        ></textarea>
      </div>
      <ng-container
        *ngIf="flightIropItems.length > 0 && selectedSourceType === 'SSM'"
      >
        <div class="flex justify-between items-center flex-wrap gap-2">
          <div *ngIf="iropActionType === 'REVISED'" class="flex-1">
            <button
              pButton
              label="Set Time for Selected Flights"
              class="p-button-warning"
              (click)="handleOpenTimePanel($event, popoverTime)"
            ></button>
          </div>
          <p-popover #popoverTime [dismissable]="true">
            <div class="flex flex-col gap-4 w-96 p-4">
              <p-multiselect
                [options]="flightNumberOptions"
                [(ngModel)]="selectedFlightNumbers"
                [ngModelOptions]="{ standalone: true }"
                optionLabel="label"
                optionValue="value"
                class="font-mono"
                placeholder="Select Flights"
              ></p-multiselect>
              <p-datepicker
                [(ngModel)]="bulkRevisedDeparture"
                [ngModelOptions]="{ standalone: true }"
                autoTimeFormat
                [showTime]="true"
                [timeOnly]="true"
                hourFormat="24"
                showIcon="true"
                appendTo="body"
                class="font-mono"
                placeholder="Select Revised Departure Time"
              ></p-datepicker>
              <p-datepicker
                [(ngModel)]="bulkRevisedArrival"
                [ngModelOptions]="{ standalone: true }"
                autoTimeFormat
                [showTime]="true"
                [timeOnly]="true"
                hourFormat="24"
                showIcon="true"
                appendTo="body"
                class="font-mono"
                placeholder="Select Revised Arrival Time"
              ></p-datepicker>
              <div class="flex justify-end">
                <button
                  pButton
                  label="Apply"
                  class="p-button-success"
                  (click)="confirmBulkTimeUpdate(popoverTime)"
                ></button>
              </div>
            </div>
          </p-popover>
        </div>
      </ng-container>
      <p-accordion [value]="0" [multiple]="true">
        <p-accordion-panel
          *ngFor="let f of flightIropItems; let i = index"
          [value]="i"
        >
          <p-accordion-header class="font-medium text-slate-700">
            <div class="flex justify-between items-center w-full">
              <div class="flex gap-2 items-center">
                <span
                  [innerHTML]="
                    isFlightComplete(f)
                      ? '<span class=`text-green-600`>✅</span>'
                      : '<span class=`text-gray-400`>⬜</span>'
                  "
                ></span>
                <span class="flex flex-wrap">
                  <span class="text-slate-700 font-mono">
                    Flight {{ f.flightNumber }} from {{ f.origin }} to
                    {{ f.destination }} – Departure at&nbsp;
                  </span>
                  <span
                    class="ml-1 font-mono text-yellow-600 font-semibold min-w-[260px] inline-block"
                  >
                    {{ formatDateTime(f.originalDepartureTime) }}
                  </span>
                </span>
              </div>
            </div>
          </p-accordion-header>
          <p-accordion-content
            [ngClass]="{
              '!border-l-4 pl-3': true,
              '!border-green-500 !bg-green-50 !rounded-md': isFlightComplete(f),
              '!bg-white': !isFlightComplete(f)
            }"
          >
            <div
              class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 text-sm mt-4"
            >
              <ng-container *ngIf="iropActionType === 'REVISED'">
                <div>
                  <label class="text-xs text-gray-500 mb-1 block"
                    >Original Departure</label
                  >
                  <input
                    [value]="f.originalDepartureTime"
                    class="w-full border border-gray-300 rounded-md px-2 py-2 bg-gray-100 text-gray-500"
                    disabled
                  />
                </div>
                <div
                  *ngIf="
                    selectedSourceType === 'ASM' || selectedSourceType === 'OPS'
                  "
                >
                  <label class="text-xs text-gray-500 mb-1 block"
                    >Revised Departure</label
                  >
                  <p-datepicker
                    [(ngModel)]="f.revisedDepartureTime"
                    [ngModelOptions]="{ standalone: true }"
                    [showTime]="true"
                    hourFormat="24"
                    showIcon="true"
                    appendTo="body"
                    inputClass="w-full border border-gray-300 rounded-md px-2 py-2"
                    dateFormat="yy-mm-dd"
                    placeholder="YYYY-MM-DD HH:mm"
                  ></p-datepicker>
                </div>
                <div>
                  <label class="text-xs text-gray-500 mb-1 block"
                    >Original Arrival</label
                  >
                  <input
                    [value]="f.originalArrivalTime"
                    class="w-full border border-gray-300 rounded-md px-2 py-2 bg-gray-100 text-gray-500"
                    disabled
                  />
                </div>
                <div
                  *ngIf="
                    selectedSourceType === 'ASM' || selectedSourceType === 'OPS'
                  "
                >
                  <label class="text-xs text-gray-500 mb-1 block"
                    >Revised Arrival</label
                  >
                  <p-datepicker
                    [(ngModel)]="f.revisedArrivalTime"
                    [ngModelOptions]="{ standalone: true }"
                    [showTime]="true"
                    hourFormat="24"
                    showIcon="true"
                    appendTo="body"
                    inputClass="w-full border border-gray-300 rounded-md px-2 py-2"
                    dateFormat="yy-mm-dd"
                    placeholder="YYYY-MM-DD HH:mm"
                  ></p-datepicker>
                </div>
                <div>
                  <label class="text-xs text-gray-500 mb-1 block"
                    >Original Aircraft</label
                  >
                  <input
                    type="text"
                    [value]="f.originalOperatingAircraft"
                    class="w-full border border-gray-300 rounded-md px-2 py-2 bg-gray-100 text-gray-500"
                    disabled
                  />
                </div>
                <div
                  *ngIf="
                    selectedSourceType === 'ASM' || selectedSourceType === 'OPS'
                  "
                >
                  <label class="text-xs text-gray-500 mb-1 block"
                    >Revised Aircraft</label
                  >
                  <input
                    type="text"
                    [(ngModel)]="f.revisedOperatingAircraft"
                    [ngModelOptions]="{ standalone: true }"
                    class="w-full border border-gray-300 rounded-md px-2 py-2"
                  />
                </div>
              </ng-container>

              <!-- CANCELLED Field Group -->
              <ng-container *ngIf="iropActionType === 'CANCELLED'">
                <div>
                  <label class="text-xs text-gray-500 mb-1 block"
                    >Original Status</label
                  >
                  <input
                    [value]="f.originalFlightStatus"
                    class="w-full border border-gray-300 rounded-md px-2 py-2 bg-gray-100 text-gray-500"
                    disabled
                  />
                </div>
                <!-- <div>
                  <label class="text-xs text-gray-500 mb-1 block"
                    >Revised Status</label
                  >
                  <p-select
                    [options]="[
                      { label: 'Open', value: 'Open' },
                      { label: 'Closed', value: 'Closed' },
                      { label: 'Cancelled', value: 'Cancelled' }
                    ]"
                    [(ngModel)]="f.revisedFlightStatus"
                    [ngModelOptions]="{ standalone: true }"
                    appendTo="body"
                    class="w-full"
                    placeholder="Select Status"
                  ></p-select>
                </div> -->
              </ng-container>
              <!-- <div>
                <label class="text-xs text-gray-500 mb-1 block">Reason*</label>
                <p-select
                  [options]="reasons"
                  [(ngModel)]="f.reason"
                  [ngModelOptions]="{ standalone: true }"
                  class="w-full"
                  placeholder="Select Reason"
                  appendTo="body"
                ></p-select>
              </div>
              <div>
                <label class="text-xs text-gray-500 mb-1 block">Remark</label>
                <input
                  [value]="f.remark"
                  class="w-full border border-gray-300 rounded-md px-2 py-2"
                />
              </div> -->

              <!-- INFORM / RESUME จะมาเสริมในอนาคต -->
            </div>
            <div class="my-4 mx-2 text-right">
              <button
                pButton
                icon="pi pi-trash"
                label="Remove"
                class="p-button-text p-button-danger p-button-sm"
                (click)="removeFlight(i)"
              ></button>
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
      <div class="flex justify-between mt-6">
        <button
          pButton
          type="button"
          label="Back"
          class="p-button-outlined p-button-danger w-32"
          (click)="goBack()"
        ></button>
        <div class="flex gap-2">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            label="Add Flight"
            class="p-button-success"
            (click)="openAddFlightDialog()"
          ></button>
          <button
            pButton
            type="submit"
            label="Create"
            class="p-button-primary"
            [loading]="isLoading"
            [disabled]="isLoading"
          ></button>
        </div>
      </div>
    </form>
  </div>
  <app-flight-schedule-editor
    [(visible)]="flightDialogVisible"
    [selectedSourceType]="selectedSourceType"
    (close)="onFlightDialogClose()"
    (save)="onFlightDialogSave($event)"
  ></app-flight-schedule-editor>
</div>
