<div class="card">
  <div class="flex items-center justify-between flex-wrap gap-2 mb-4">
    <h2 class="text-2xl font-bold text-surface-900 dark:text-surface-0">
      {{ operation?.transactionNo }} /
      {{ operation?.createDate | date : "yyyy-MM-dd" }}
    </h2>
    <p-tag
      [value]="operation?.status"
      [severity]="getStatusSeverity(operation?.status)"
      class="text-md"
    ></p-tag>
  </div>

  <div
    class="bg-white dark:bg-zinc-900 rounded-md p-6 shadow text-gray-800 dark:text-gray-100 text-lg space-y-4"
  >
    <div>
      <span class="font-semibold text-gray-500">Created By:</span>
      <span class="ml-2">{{ operation?.createdBy }}</span>
    </div>
    <div>
      <span class="font-semibold text-gray-500">Source Type:</span>
      <span class="ml-2">{{ operation?.sourceType }}</span>
    </div>
    <div>
      <span class="font-semibold text-gray-500">Season:</span>
      <span class="ml-2">{{ operation?.season.label }}</span>
    </div>
    <div>
      <span class="font-semibold text-gray-500">Message:</span>
      <span class="ml-2">{{ operation?.message }}</span>
    </div>
    <div *ngIf="operation?.noteOptions?.length">
      <span class="font-semibold text-gray-500">Notes:</span>
      <span class="ml-2">
        <span *ngFor="let note of operation.noteOptions" class="mr-2">
          • {{ note.description }}
        </span>
      </span>
    </div>
  </div>

  <div class="mt-10 space-y-6">
    <div
      *ngFor="let section of operation?.sections; let i = index"
      class="bg-white dark:bg-zinc-800 p-6 rounded-xl shadow-md border border-gray-200 dark:border-zinc-700"
    >
      <div class="flex justify-between items-center mb-4">
        <div>
          <h3 class="text-xl font-bold text-gray-800 dark:text-white">
            {{ getSectionLabel(i) }} {{ section.title }}
          </h3>
        </div>
        <div>
          <span
            class="inline-flex text-sm font-medium text-red-600 bg-red-50 dark:bg-red-900 dark:text-red-200 px-2 py-0.5 rounded"
          >
            {{ section.actionType }}
          </span>
        </div>
      </div>

      <div
        *ngFor="let flight of section.schedule"
        class="bg-gray-50 dark:bg-zinc-900 p-4 rounded-lg mb-5 border dark:border-zinc-700"
      >
        <div class="flex justify-between items-center mb-2">
          <div
            class="text-sm text-gray-800 dark:text-gray-100 font-medium leading-relaxed"
          >
            Flight
            <span class="font-semibold">{{ flight.flightNumber }}</span>
            operating on the route
            <span class="font-semibold">{{ flight.origin }}</span> to
            <span class="font-semibold">{{ flight.destination }}</span
            >, scheduled during
            <span class="text-blue-600 dark:text-blue-400 font-semibold">
              {{ flight.effectiveDate | date : "dd MMM yyyy" }}
            </span>
            to
            <span class="text-blue-600 dark:text-blue-400 font-semibold">
              {{ flight.expirationDate | date : "dd MMM yyyy" }} </span
            >.
          </div>
          <!-- 
          <div class="text-xs text-gray-400">
            {{ flight.effectiveDate | date : "yyyy-MM-dd" }} -
            {{ flight.expirationDate | date : "yyyy-MM-dd" }}
          </div> -->
        </div>

        <div class="overflow-x-auto">
          <table class="w-full text-sm text-left table-auto">
            <thead>
              <tr
                class="text-gray-500 border-b border-gray-200 dark:border-zinc-600"
              >
                <th class="p-3 h-14">Day</th>
                <th class="p-3 h-14">ETD</th>
                <th class="p-3 h-14">ETA</th>
                <th class="p-3 h-14" *ngIf="section.actionType === 'REVISED'">
                  Revised ETD
                </th>
                <th class="p-3 h-14" *ngIf="section.actionType === 'REVISED'">
                  Revised ETA
                </th>
                <th class="p-3 h-14" *ngIf="section.actionType === 'REVISED'">
                  Aircraft
                </th>
                <th class="p-3 h-14" *ngIf="section.actionType === 'CANCELLED'">
                  Status
                </th>
                <th
                  class="p-3 h-14"
                  *ngIf="['INFORM', 'RESUME'].includes(section.actionType)"
                >
                  Message
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let d of flight.schedule">
                <tr
                  class="border-t border-gray-200 dark:border-zinc-700 hover:bg-gray-100 dark:hover:bg-zinc-800 transition-colors"
                >
                  <td
                    class="p-3 h-14 align-middle font-medium whitespace-nowrap"
                  >
                    {{ getDayLabel(+d.frequency) }}
                  </td>
                  <td class="p-3 h-14 align-middle whitespace-nowrap">
                    {{ d.estimatedDeparture || "-" }}
                  </td>
                  <td class="p-3 h-14 align-middle whitespace-nowrap">
                    {{ d.estimatedArrival || "-" }}
                  </td>

                  <!-- REVISED -->
                  <td
                    class="p-3 h-14 align-middle text-red-600 whitespace-nowrap"
                    *ngIf="section.actionType === 'REVISED'"
                  >
                    {{ d.revisedDeparture || "-" }}
                  </td>
                  <td
                    class="p-3 h-14 align-middle text-red-600 whitespace-nowrap"
                    *ngIf="section.actionType === 'REVISED'"
                  >
                    {{ d.revisedArrival || "-" }}
                  </td>
                  <td
                    class="p-3 h-14 align-middle text-red-600 whitespace-nowrap"
                    *ngIf="section.actionType === 'REVISED'"
                  >
                    {{ d.aircraft || "-" }}
                  </td>

                  <!-- CANCELLED -->
                  <td
                    class="p-3 h-14 align-middle"
                    *ngIf="section.actionType === 'CANCELLED'"
                  >
                    <p-tag
                      [value]="d.status ? 'Active' : 'Flight Cancelled'"
                      [severity]="d.status ? 'success' : 'danger'"
                    ></p-tag>
                  </td>

                  <!-- INFORM / RESUME -->
                  <td
                    class="p-3 h-14 align-middle text-blue-600 whitespace-nowrap"
                    *ngIf="['INFORM', 'RESUME'].includes(section.actionType)"
                  >
                    {{ d.message || "-" }}
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-between mt-6 items-center">
    <button
      pButton
      label="BACK"
      class="p-button-outlined p-button-danger p-button-md w-24"
      (click)="back()"
      [disabled]="isLoading"
    ></button>

    <div class="flex gap-2 items-center">
      <p *ngIf="isLoading" class="text-blue-500 font-semibold">Processing...</p>

      <button
        pButton
        label="Print"
        class="p-button-info"
        icon="pi pi-print"
        (click)="onPrint()"
        [disabled]="isLoading"
      ></button>
      <button
        pButton
        label="SAVE DRAFT"
        class="p-button-info"
        icon="pi pi-save"
        (click)="saveDraft()"
        [disabled]="status !== 'CREATED' || isLoading"
      ></button>
      <button
        *ngIf="status !== 'APPROVED'"
        pButton
        label="APPROVED"
        class="p-button-success"
        icon="pi pi-check"
        (click)="onApprove()"
        [disabled]="isLoading"
      ></button>
      <button
        *ngIf="status === 'APPROVED'"
        pButton
        label="UNDO APPROVE"
        class="p-button-warning"
        icon="pi pi-refresh"
        (click)="undoApprove()"
        [disabled]="isLoading"
      ></button>
    </div>
  </div>
</div>
