<p-card class="shadow-lg dark:shadow-none">
  <div class="flex flex-wrap items-start justify-between gap-4 my-4">
    <div>
      <h2
        class="text-4xl font-extrabold italic text-surface-900 dark:text-surface-0 tracking-wide"
      >
        {{ operation?.messageType }} {{ operation?.transactionNumber }}
      </h2>
    </div>
    <button
      pButton
      label="Copy Operation"
      icon="pi pi-copy"
      class="p-button-text p-button-sm text-amber-700"
      (click)="copyOperation()"
    ></button>
  </div>
  <div
    class="col-span-12 flex flex-wrap items-start bg-surface-100 dark:bg-surface-700 rounded-md p-4"
  >
    <div class="p-2 flex-auto text-center md:text-left">
      <span class="text-surface-700 dark:text-surface-100 block">
        Type&nbsp;of&nbsp;Action
      </span>
      <span
        class="text-surface-900 dark:text-surface-0 font-semibold block mt-1"
      >
        {{ operation?.actionCode }}
      </span>
    </div>

    <p-divider
      align="center"
      layout="vertical"
      styleClass="hidden md:inline-flex h-full mx-0 lg:mx-4 border-surface-200 dark:border-surface-600 self-center"
    ></p-divider>
    <div class="p-2 flex-auto text-center md:text-left">
      <span class="text-surface-700 dark:text-surface-100 block">
        IATA&nbsp;Season
      </span>
      <span
        class="text-surface-900 dark:text-surface-0 font-semibold block mt-1"
      >
        {{ operation?.season }}
      </span>
    </div>
    <p-divider
      align="center"
      layout="vertical"
      styleClass="hidden md:inline-flex h-full mx-0 lg:mx-4 border-surface-200 dark:border-surface-600 self-center"
    ></p-divider>
    <div class="p-2 flex-auto text-center md:text-left">
      <span class="text-surface-700 dark:text-surface-100 block">
        Prepared&nbsp;By&nbsp;/&nbsp;Team
      </span>
      <span
        class="text-surface-900 dark:text-surface-0 font-semibold block mt-1"
      >
        {{ operation?.createdBy }} ({{ operation?.createdTeam }})
      </span>
    </div>
    <p-divider
      align="center"
      layout="vertical"
      styleClass="hidden lg:inline-flex h-full mx-0 lg:mx-4 border-surface-200 dark:border-surface-600 self-center"
    ></p-divider>
    <div class="p-2 flex-auto text-center md:text-left">
      <span class="text-surface-700 dark:text-surface-100 block">
        Prepared&nbsp;Time
      </span>
      <span
        class="text-surface-900 dark:text-surface-0 font-semibold block mt-1"
      >
        {{ operation?.createdDate | date : "dd MMM yyyy, HH:mm" }}
      </span>
    </div>
    <div
      class="flex items-center p-2 mt-4 lg:mt-0 lg:ml-auto self-center"
      [ngClass]="statusStyle.pillBg"
      style="border-radius: 2.5rem"
    >
      <span
        class="flex items-center justify-center rounded-full mr-2"
        [ngClass]="statusStyle.circleBg"
        style="min-width: 2rem; min-height: 2rem"
      >
        <i
          class="pi"
          [ngClass]="statusStyle.icon + ' text-base text-white'"
        ></i>
      </span>
      <span class="font-medium" [ngClass]="statusStyle.text">
        {{ operation?.statusDescription }}
      </span>
    </div>
  </div>
  <div class="prose dark:prose-invert max-w-none my-5 mx-4 leading-relaxed">
    <p class="font-semibold">Dear Colleagues,</p>
    <p>
      In compliance with
      <span class="text-red-600 font-semibold">
        {{ operation?.remark || "—" }} </span
      >, please note that:
    </p>
  </div>
  <ng-container *ngIf="operation?.customNotifyMessage">
    <div
      class="prose dark:prose-invert max-w-none bg-surface-100/60 dark:bg-surface-700/40 border border-surface-200 dark:border-surface-600 rounded-md p-6 mb-10"
      [innerHTML]="operation.customNotifyMessage"
    ></div>
  </ng-container>
  <div class="space-y-6">
    <p-accordion [multiple]="true" [activeIndex]="[]" class="space-y-2">
      <p-accordion-panel
        *ngFor="let s of operation?.flightIropItems; let i = index"
        [value]="i"
      >
        <p-accordion-header>
          <div class="flex justify-between items-center w-full">
            <span
              class="font-semibold text-surface-900 dark:text-surface-0 font-mono"
            >
              {{ buildHeader(s) }}
            </span>
            <p-tag
              [value]="s.actionCode"
              [severity]="getActionSeverity(s.actionCode)"
              class="text-xs mx-2"
            ></p-tag>
          </div>
        </p-accordion-header>
        <p-accordion-content class="text-sm leading-relaxed">
          <!-- ORIGINAL ---------------------------------------------------- -->
          <div
            class="grid grid-cols-[100px_90px_1fr] gap-x-4 items-baseline font-mono text-lg"
          >
            <span class="font-bold italic text-gray-500">(ORIGINAL)</span>
            <span class="font-medium">{{ s.flightNumber }}</span>
            <span>
              {{ s.originalDepartureTime | date : "dd MMM yy" }} &nbsp;
              <span class="whitespace-nowrap">
                dep. {{ s.origin }}
                {{ s.originalDepartureTime | date : "HHmm" }}
              </span>
              &nbsp; arr. {{ s.destination }}
              {{ s.originalArrivalTime | date : "HHmm" }} &nbsp;
              <span class="text-gray-500">{{
                s.originalOperatingAircraft
              }}</span>
            </span>
          </div>
          <div
            class="grid grid-cols-[100px_90px_1fr] gap-x-4 items-baseline font-mono text-lg"
            *ngIf="s.revisedDepartureTime"
          >
            <span class="font-bold italic text-red-600">(REVISED)</span>
            <span class="font-medium text-red-600">{{ s.flightNumber }}</span>
            <span class="text-red-600">
              {{ s.revisedDepartureTime | date : "dd MMM yy" }} &nbsp;
              <span class="whitespace-nowrap">
                dep. {{ s.origin }} {{ s.revisedDepartureTime | date : "HHmm" }}
              </span>
              &nbsp; arr. {{ s.destination }}
              {{ s.revisedArrivalTime | date : "HHmm" }}
              &nbsp;
              <span class="font-medium">
                {{ s.revisedOperatingAircraft || s.originalOperatingAircraft }}
              </span>
            </span>
          </div>
          <div class="flex justify-between">
            <div
              *ngIf="s.reasonDescription"
              class="mt-3 flex items-start gap-2"
            >
              <span class="font-mono text-lg text-red-600">
                {{ s.reasonDescription }}
              </span>
            </div>
            <div *ngIf="s.remark" class="mt-3 flex items-start gap-2">
              <span class="font-mono text-lg text-red-600">
                {{ s.remark }}
              </span>
            </div>
            <p-button
              label="Show RAW"
              icon="pi pi-eye"
              styleClass="p-button-text p-button-sm mt-3"
              (click)="showDialog(s)"
            ></p-button>
          </div>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>
  <div
    class="flex flex-col sm:flex-row justify-between items-center mt-8 gap-4"
  >
    <button
      pButton
      label="Back"
      class="p-button-outlined p-button-danger w-full sm:w-24"
      (click)="back()"
      [disabled]="isLoading"
    ></button>

    <div class="flex flex-wrap gap-2 justify-end w-full sm:w-auto">
      <p *ngIf="isLoading" class="text-blue-500 font-semibold mr-3">
        Processing...
      </p>

      <button
        pButton
        label="Print"
        icon="pi pi-print"
        class="p-button-secondary"
        (click)="onPrint()"
        [disabled]="isLoading"
      ></button>

      <button
        pButton
        label="Save Draft"
        icon="pi pi-save"
        class="p-button-info"
        (click)="saveDraft()"
        [disabled]="operation?.statusDescription !== 'CREATED' || isLoading"
      ></button>

      <button
        *ngIf="operation?.statusDescription !== 'APPROVED'"
        pButton
        label="Approve"
        icon="pi pi-check"
        class="p-button-success"
        (click)="onApprove()"
        [disabled]="isLoading"
      ></button>

      <button
        *ngIf="operation?.statusDescription === 'APPROVED'"
        pButton
        label="Undo Approve"
        icon="pi pi-refresh"
        class="p-button-warning"
        (click)="undoApprove()"
        [disabled]="isLoading"
      ></button>
    </div>
  </div>
  <p-dialog
    header="Raw Flight Data"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '60vw' }"
  >
    <pre class="app-code whitespace-pre-wrap mb-4">{{ rawItem | json }}</pre>
    <ng-template pTemplate="footer">
      <div class="p-4 flex gap-2">
        <button
          pButton
          label="Copy"
          icon="pi pi-copy"
          class="p-button-success p-button-sm"
          (click)="copyRaw()"
        ></button>

        <button
          pButton
          label="Close"
          icon="pi pi-times"
          class="p-button-secondary p-button-sm"
          (click)="visible = false"
        ></button>
      </div>
    </ng-template>
  </p-dialog>
</p-card>
