/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

.p-datepicker {
    position: relative;
    display: inline-flex;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.force-bottom {
  transform-origin: top !important;
  top: auto !important;
  bottom: 0 !important;
}

.p-tag-icon {
  margin-right: 4px;
}
